<div class="row">
  <h1>bcMaster: Bitcoin Trading Client</h1>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= image_tag(asset_path("bitcoin.png"), alt: "bcMaster-Logo", title: "bcMaster-Logo") %>
  </div>
  <div class="col-sm-6 right">
    <% if !@credentials %>
      <%= render 'login' %>
    <% end %>
  </div>
</div>
<!-- <div class="moremargin"></div> -->
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-4">
        <%= image_tag(asset_path("trade2.jpg"), alt: "Trade-Icon", title: "Trade-Icon", size: "180x180") %>
        <h4>Trade Bitcoins</h4>
        <p>This website provides an easy way to buy and sell bitcoins.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <%= image_tag(asset_path("exchange.png"), alt: "Exchange-Icon", title: "Exchange-Icon", size: "180x180") %>
        <h4>Choose between different bitcoin exchanges</h4>
        <p>Do you want to trade on different bitcoin exchanges? Our website provides you with this possibility.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <%= image_tag(asset_path("graph.png"), alt: "Graph-Icon", title: "Graph-Icon", size: "180x180") %>
        <h4>All bitcoin informations centralized</h4>
        <p>You can find all the relevant informations concerning bitcoins or your account over this website.</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div>
