<% flash.each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
<div>

  <h1 id="title">bcMaster: Bitcoin Trading Client</h1>

  <table>
    <tr>
      <td width=50%>
        <%= image_tag(asset_path("bcMaster_Logo.png"), :alt => "bcMaster-Logo", :size => "200x202", :title => "bcMaster-Logo") %>
      </td>
        <td>
          <p> BTC Buy: <%= @btce_buy %> USD Sell: <%= @btce_sell %> USD</p>
          <div id="login">
            <p id="login-label"><%= @login_message %> <%= link_to "btc-e.com", "https://btc-e.com" %>:</p>
          <% if @login_form %>
            <%= form_tag(controller: 'main', action: 'login', method: 'post', id: 'login-form') do %>
            <%= hidden_field_tag(:domain, 'https://btc-e.com') %>
          <table>
            <tr>
              <td><%= text_field_tag(:apikey, nil, placeholder: 'API-Key') %></td>
            </tr>
            <tr>
            <td><%= password_field_tag(:secret, nil, placeholder: 'Secret') %></td>
          </tr>
          <tr>
            <td>
              <%= submit_tag('Login', id: 'login-button', :controller => 'main', :method => 'post') %> or <%= link_to "Sign up", "https://btc-e.com/reg" %>
            </td>
          </tr>
        </table>
        <% end %>
        <% else %>
          <%= form_tag({controller: 'main', action: 'logout'}, method: 'post',) do %>
          <%= submit_tag('Logout', id: 'logout') %>
        <% end %>
        
        <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
