<div>

  <h1 id="title">bcMaster: Bitcoin Trading Client</h1>

  <table>
    <tr>
      <td width=50%>
        <% if notice  %>
        <p id="notice"><%= notice %></p>
        <% end %>
        <%= image_tag("bcMaster_Logo.png", :alt => "bcMaster-Logo", :size => "200x202", :title => "bcMaster-Logo") %>
      </td>
        <td>
          <p> BTC Buy: <%= @btce_buy %> USD Sell: <%= @btce_sell %> USD</p>
          <div id="login">
            <p id="login-label"><%= @btce_trade %><%= @login_message %> <%= link_to "btc-e.com", "https://btc-e.com" %>:</p>
          <%= form_tag(controller: 'main', action: 'index', method: 'post', id: 'login-form') do %>
          <%= hidden_field_tag(:domain, 'https://btc-e.com') %>
          
          <table>
            <tr>
              <td><%= text_field_tag(:apikey, nil, placeholder: 'API-Key') %></td>
            </tr>
            <tr>
            <td><%= password_field_tag(:password, nil, placeholder: 'Secret') %></td>
          </tr>
          <tr>
            <td>
              <%= submit_tag('Login', id: 'login-button', :controller => 'login', :method => 'post') %> or <%= link_to "Sign up", "https://btc-e.com/reg" %>
            </td>
          </tr>
        </table>
        <% end %>
        </div>

      </td>
    </tr>
  </table>


</div>
