<!DOCTYPE html>
<html>
  <head>
    <title>bcMaster: Bitcoin Trading Client</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "main", :media => "all" %>

    <%= javascript_include_tag "https://code.jquery.com/jquery.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "jquery-latest.js" %>
    <%= javascript_include_tag "jquery.validate.js" %>
    <%= javascript_include_tag "validate.js" %>
  </head>
<body>

  <div id="main">

    <ul class="nav nav-tabs" id="nav-color">
      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
      <li><a href="#about" data-toggle="tab">About</a></li>
      <li><a href="#disclaimer" data-toggle="tab">Disclaimer</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home">

        <%= yield %>

      </div>

      <div class="tab-pane" id="about">
        <p>Diese Website ist im Rahmen einer Fallstudie im Fach «Methoden der Programmierung» im 3. Semester des berufsbegleitenden Informatikstudiums an der ZHAW Zürich entstanden.</p>
      </div>

      <div class="tab-pane" id="disclaimer">

        <h2>Disclaimer</h2>

        <p>We aim to keep the information on this website as current, accurate and complete as possible. However, we make no (and expressly disclaim) representations or warranties of any kind, express or implied, with respect to any use of or inability to use the information, content, or materials included on this website.</p>

        <p>Nor will we be responsible for any damage or loss related to, the timeliness, accuracy, or completeness of the information, services, products, or other material on this website.</p>

        <p>Under no circumstances will we be liable for any consequence relating directly or indirectly to any action or inaction you take based on the information, services, or other material on this website.</p>

        <p>Visitors who use this website and rely on any information do so at their own risk.</p>

        <p>We take no responsibility for the contents of linked websites and links should not be taken as endorsement of any kind. We have no control over the availability of the linked pages.</p>

        <p>Except as specifically stated on this website, to the fullest extent permitted at law, we will not be liable for damages arising out of or in connection with the use of this website or the information, content, materials, or products included on it.</p>

        <p>This is a comprehensive limitation of liability that applies to all damages of any kind, including (without limitation) compensatory, direct, indirect or consequential damages, loss of data, income or profit, loss of or damage to property and claims of third parties.</p>

        <footer><p>Source for this disclaimer: http://www.ictknowledgebase.org.uk/index.php?id=disclaimer</p></footer>
      </div>

    </div>
  </div>
</body>
</html>
